@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  @apply h-full overflow-hidden;
  margin: 0;
  padding: 0;
}

#root {
  @apply h-full;
}

body {
  min-height: 100vh;
  background-color: rgb(3, 3, 3);
  color: #ffffff;
}
